<p>directives works!</p>
<h1 *ngFor="let age of ages">nyages is{{age}}</h1>
<ol>
    <li *ngFor="let name of names">{{name}}</li>
</ol>
<select name="" id="">
    <option value="" *ngFor="let state of states">{{state}}</option>
</select>
<h3 *ngFor="let user of users">i am {{user.name}} and my phone {{user.phone}}</h3>
<table class="table table-dark">
    <thead>
        <tr>
            <td>name</td>
            <th>phone</th>
            <th>marks</th>
            <th>age</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.name| uppercase}}</td>
            <td>{{user.phone}}</td>
            <td [ngStyle]="{color:user.marks<35?'red':'green'}">{{user.marks}}</td>
            <td [ngClass]="{'minor':user.age<18, 'major':user.age>=18}">{{user.age}}</td>
        </tr>
    </tbody>
</table>
<div class="product" *ngFor="let product of products">
    <h4>name:{{product.name}} </h4>
<h4> price:{{product.price}}</h4>
<h4>rating:{{product.rating}}</h4>
<button class="btn btn-success">add cart</button>
<button class="btn btn-warning">buy now</button>

</div>
<!----<p>{{users | json}}</p>-->
<pre>{{users | json}}</pre>
<h1>{{today}}</h1>
<h1>{{today|date}}</h1>
<h1>{{today|date:'yyyy-MM-dd'}}</h1>
<h1>{{today|date:'yyyy/MM/dd'}}</h1>
<h1>{{today|date:'medium'}}</h1>
<h1>{{today|date:'short'}}</h1>
<h1>{{today|date:'mediumTime'}}</h1>
<h1>{{today|date:'shortTime'}}</h1>