<p>users works!</p>
<!-- <pre>{{users|json}}</pre> -->
<table class="table table-dark">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>City</th>
            <th>Image</th>
            <th>Id</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.name}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.city}}</td>
            <td><img src="{{user.image}}" alt=""></td>
            <td>{{user.id}}</td>
        </tr>
    </tbody>
</table>