<h1>Grade</h1>
<label for="">Grade:</label>
<input type="text" [(ngModel)]="Grade">
<br>

<h1 *ngIf="Grade>0 && Grade<35">fail</h1>
<h1 *ngIf="Grade>=35 && Grade<40">E</h1>
<h1 *ngIf="Grade>=40 && Grade<50">D</h1>
<h1 *ngIf="Grade>=50 && Grade<60">C</h1>
<h1 *ngIf="Grade>=60 && Grade<75">B</h1>
<h1 *ngIf="Grade>=75 && Grade<=100">A</h1>
<!-- <table class="table table-dark">
    <thead>
        <tr>
            <th>s.no</th>
            <td>name</td>
            <th>price</th>
            <th>rating</th>
            <th>Free Delivery</th>
            <th>Actions</th>
            
        </tr>
    </thead>
    <tbody>
        
        <tr *ngFor="let product of products;let i=index">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
             <button class="btn btn-danger"(click)="delete(i)">delete</button>
            </td>
        </tr>
    </tbody>
</table> -->