.parent {
    width: 100vw;
    height: 100vh;
    background-color: skyblue;
    display: flex;
}
.left {
    width: 40vw;
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right {
    width: 60vw;
    height: 100vh;
    background-color: teal;
    background-image: url(R.jfif);
}
#login {
    background-color: blue;
    border: 0;
    width: 80%;
    margin-top: 10px;
    height: 10%;
    color: white;
    margin-left: 10%;
}
form {
    width: 80%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.pass {
    display: flex;
    justify-content: space-between;
}
.child {
    width: 80%;
    height: 40%;
    justify-content: center;
    align-items: center;
}
.a{
    width: 100%;
}