<p>cart </p>
<div>
<button class="btn btn-success"(click)="count()">cart count</button>
<!-- <button class="btn btn-warning">filter</button> -->

<table class="table table-dark">
    <thead>
        <tr>
            <th>s.no</th>
            <td>name</td>
            <th>price</th>
            <th>rating</th>
            <th>Free Delivery</th>
            <th>Actions</th>
            
        </tr>
    </thead>
    <tbody>
        
        <tr *ngFor="let product of products;let i=index">
            <td>{{i+1}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td >{{product.rating}}</td>
            <td >{{product.isFreeDelivery}}</td>
            <td>
                <button class="btn btn-danger"(click)="delete(i)">delete</button>
            </td>
        </tr>
    </tbody>
</table>



</div>
