<p>dynamic-form works+form arrays</p>
<form [formGroup]="dynamicForm">
    <label for="">type:</label>
    <label for="">resident</label>
    <input type="radio" name="type" formControlName="type" value="bus">
    <label for="">dayscholar</label>
    <input type="radio" name="type" formControlName="type" value="hostel"><br>
<div *ngIf="dynamicForm.get('type')?.value=='bus'">
    <label>bus fee:</label>
    <input type="text" formControlName="bus"><br>
</div>
<div *ngIf="dynamicForm.get('type')?.value=='hostel'">
    <label for="">hostel fee:</label>
    <input type="text" formControlName="hostel"><br>
</div>
<button class="btn btn-primary"(click)="add()">add</button>
<div formArrayName="cards">
    <div *ngFor="let card of CardsFormArray.controls; let i=index">
        <div formGroupName="{{i}}">
            <h4>card {{i+1}}</h4>
            <label>Number:</label>
            <input type="number" formControlName="number">
            <div class="text-danger" *ngIf="CardsFormArray.controls[i]?.get('number')?.invalid && CardsFormArray.controls[i]?.get('number')?.touched">
                <p *ngIf="CardsFormArray.controls[i]?.get('number')?.errors?.['required']">card is required</p>
                <p *ngIf="CardsFormArray.controls[i]?.get('number')?.errors?.['min']">card number should min and max 12 digits</p>
                <p *ngIf="CardsFormArray.controls[i]?.get('number')?.errors?.['max']">card number should min and max 12 digitss</p>
        
            </div><br>
            <label>Expiry:</label>
            <input  id="dateInput" [min]="2023-02-02" type="date" formControlName="expiry"><br>
            <label>Cvv:</label>
            <input type="number" formControlName="cvv">
            <div class="text-danger" *ngIf="CardsFormArray.controls[i]?.get('cvv')?.invalid && CardsFormArray.controls[i]?.get('cvv')?.touched">
                <p *ngIf="CardsFormArray.controls[i]?.get('cvv')?.errors?.['required']">card is required</p>
                <p *ngIf="CardsFormArray.controls[i]?.get('cvv')?.errors?.['min']">card cvv should min and max 3 digits</p>
                <p *ngIf="CardsFormArray.controls[i]?.get('cvv')?.errors?.['max']">card cvv should min and max 3 digitss</p>
        
            </div><br>
            <button class="btn btn-danger"(click)="delete(i)">delete</button>
        </div>
    </div>
</div>
    <button class="btn btn-primary"(click)="submit()">submit</button> 
</form>


<script>
    $("#dateInput").validate();
</script>