<h2>create-student works!</h2>
<form [formGroup]="createStudent">
<label>name:</label>
<input type="text" formControlName="name">
<br>
<label for="">age:</label>
<input type="text" formControlName="age">
<br>
<label for="">email:</label>
<input type="text" formControlName="email">
<br>
<form formGroupName="address">
<label for="">pin:</label>
<input type="text" formControlName="pin">
<br>
<label for="">state:</label>
<input type="text" formControlName="state">
</form>
<button class="btn btn-primary" (click)="create()">create</button>
</form>