.parent {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top right, red, yellow, orange, skyblue, greenyellow);
    display: flex;
    justify-content: center;
    align-items: center;
}

.digit {
    width: 40%;
    height: 40%;
    background-color: white;
    padding: 5%;
    background-image: radial-gradient(circle, yellow, red, orange, lightyellow);
    border-radius: 10px;
    box-shadow: 0px 0px 10px;
    display: block;
    justify-content: center;
    align-items: center;
}

input {
    border-radius: 10px;
    margin-top: 10px;
    width: 80%;
    height: 15%;
    border: 0;
    
}

button {
    background-color: skyblue;
    padding: 5px;
    margin: 2px;
    border: 0;
    border-radius: 10px;
    /* display: flexbox; */
    /* justify-content: space-evenly; */
}

h4 {
    color: white;
    display: flex;
    justify-content: center;
}