<!-- <pre>{{boredoms|json}}</pre> -->
<div class="parent">
    <div class="child1">
        <h4>{{boredoms.activity}}</h4>
        <h4>{{boredoms.type}}</h4>
        <h4>{{boredoms.participiants}}</h4>
        <h4>{{boredoms.link}}</h4>
        <h4>{{boredoms.key}}</h4>
        <h4>{{boredoms.accessibility}}</h4>
        <router-outlet></router-outlet>
    </div>
    <div class="child2">
        <a href="http://localhost:4200/boredoms"><button class="btn btn-primary">SHOW ACTIVITY</button></a>
    </div>
</div>