<div class="parent">
  <div class="left">
    <h4 routerLink="home">Home</h4>
    <h4 routerLink="calculator"> Calculator</h4>
    <h4 routerLink="rectangle">Rectangle</h4>
    <h4 routerLink="data-binding">Data Bindng</h4>
    <h4 routerLink="directives">Directives</h4>
    <h4 routerLink="resistration-form">Registration</h4>
    <h4 routerLink="time">time</h4>
    <h4 routerLink="cart">Cart</h4>
    <h4 routerLink="grade-calculator">Grade</h4>
    <h4 routerLink="cars">Cars</h4>
    <h4 routerLink="phones">Phones</h4>
    <h4 routerLink="users">Users</h4>
    <h4 routerLink="vehicles">vehicles</h4>
    <h4 routerLink="create-user">create user</h4>
    <h4 routerLink="create-student">Student form</h4>
    <h4 routerLink="dynamic-form">dynamic-form</h4>
    <h4 routerLink="pen">Product</h4>
    <h4 routerLink="parent">parent</h4>
    <h4 routerLink="nav">nav</h4>
    <h4 routerLink="product">product</h4>
    <h4 routerLink="cartlist">cartlist</h4>
    <h4 routerLink="about-ceo">About CEO</h4>
    <h4 routerLink="contact/contact-phone">contact phone</h4>
    <h4 routerLink="contact/contact-address">contact address</h4>
    <button class="btn btn-danger"(click)="logout()">Logout</button>
  </div>
  <div class="right">
    <router-outlet></router-outlet>
  </div>
</div>