<div class="parent">
  <div class="left">
    <h4 routerLink="home">Home</h4>
    <h4 routerLink="calculator"> Calculator</h4>
    <h4 routerLink="rectangle">Rectangle</h4>
    <h4 routerLink="data-binding">Data Bindng</h4>
    <h4 routerLink="directives">Directives</h4>
    <h4 routerLink="resistration-form">Registration</h4>
    <h4 routerLink="time">time</h4>
    <h4 routerLink="cart">Cart</h4>
    <h4 routerLink="grade-calculator">Grade</h4>
    <h4 routerLink="cars">Cars</h4>
    <h4 routerLink="phones">Phones</h4>
    <h4 routerLink="users">Users</h4>
    <h4 routerLink="vehicles">vehicles</h4>
    <button class="btn btn-danger" routerLink="/login">Logout</button>
  </div>
  <div class="right">
    <router-outlet></router-outlet>
  </div>
</div>