.parent{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(right black,gray,silver);
}
img{
    width: 50%;
    height: 30%;
    box-shadow: 10px 10px 10px lightsteelblue;
}
.cars{
    width: 80%;
    height: 80%;
    display:flex;
}